/* propiedades de texto */

html {
    font-size: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 20px;
}

h1 {
    font-family: cursive;
    font-size: 48px;
}

h1 {

}