*{
    margin: 0;
    padding: 0;   
   }
   
   body{
       font-family: Georgia, 'Times New Roman', Times, serif;
   }
   
   .grid-container{
       height: 100vh;
       display: grid;
       padding: 20px;
       border: solid;
   
       grid-template-columns: 200px auto;
       grid-template-rows: 100px auto 100px;

       grid-template-areas:
       "header header"
       "aside section"
       "footer footer";
   }
   
   .header{
       background-color: red;
       grid-area: header;
   }
   
   .aside{
       background-color: brown;
       grid-area: aside;
   }
   .section{
       background-color: violet;
       grid-area: section;
   }
   .footer{
       background-color: yellow;
       grid-area: footer;
   }
   